rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir lectura y escritura a las colecciones del seminario
    match /seminaristas/{document=**} {
      allow read, write: if true;
    }
    match /solicitudes/{document=**} {
      allow read, write: if true;
    }
  }
}
